[submodule "backend"]
	path = catalogue
	url = https://github.com/yogoh31/Shop-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/yogoh31/Shop-Frontend
[submodule "apis_gateway"]
	path = apis_gateway
	url = ./Shop-ApiGateway
